[Desktop Entry]
Categories=Ocr;
Comment=Yoyo ocr
Exec=yoyo-ocr %F
GenericName=yoyo cor
Icon=yoyo-ocr
Name=yoyo Ocr
Type=Application

# Translations:
# Do not manually modify!
Comment[zh_CN]=Ocr
GenericName[zh_CN]=Ocr
Name[zh_CN]=Ocr
